:local .ungdomvoksenGrid {
    display: grid;
    grid-template-columns: 600px 50%;
    gap: 10%;
    margin-top: 2em;
}

:local .picture {
    display: flex;
    justify-content: center;
    width: 600px !important;
    height: 850px;
}

:local .picture img {
    overflow:hidden;
}

:local .textSide img {
    border-radius: 35px;
    max-width: 25vw;
}

:local .textSide {
    grid-column: 2;
}

:local .subButtons {
    display: flex;
    justify-content: space-around;
}

:local .subButtons button {
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    width: 200px;
    border-radius: 8px;
}

:local .buttonActive button {
    color: white;
    background-color: #eb1a52;
}

:local .margin {
    margin-top: 1.5em;
}


@media only screen and (max-width: 1080px) {
    :local .ungdomvoksenGrid {
        grid-template-columns: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    :local .textSide {
        grid-column: 1;
    }

    :local .subButtons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: space-around;
    }

    :local .textSide img {
        border-radius: 35px;
        max-width: 80vw;
    }


    :local .picture {
        display: none;
        margin-top: 5%;
        position: relative;
        overflow: hidden;
    }

    :local .picture img {
        width: 60vw;
        height: 200px;
        object-fit: none;
        object-position: 45% 10%;
        box-shadow: 30px 30px 40px 40px white inset;
    }

    :local .textSide h1 {
        font-size: 7vw;
    }

    :local .textSide p {
        font-size: 5vw;
    }
}