.App {
  text-align: center;
}

.fadeInHomeBG {
  animation: fadeIn 0.35s linear;
}

.slideLeft {
  animation: slide-left 0.5s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.2s ease-in;
}

.fadeInSlow {
  animation: fadeIn 1.3s ease-in;
}

.loadingBG {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.6);
  z-index: 50;
}

.loader {
  position: absolute;
  left: 50vw;
  top: 50vh;
  z-index: 100;
  border: 16px solid white; /* Light grey */
  border-top: 16px solid #eb1a52; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(360deg); 
    
  }
}


@keyframes slide-left {
  from {
      opacity: 0;
      transform: translateX(15px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}