:local .vinterleirGrid {
    display: grid;
    grid-template-columns: 30vw 10% 40%;
    margin-top: 2em;
    height: 100%;
    margin-bottom: 40px;
}

:local .title {
    font-size: 40px;   
}

:local .picture {
    display: flex;
    justify-content: center;
}

:local .picture img {
    overflow:hidden;
    height: 50vh;
    overflow:hidden;
    margin-top: 10vh;
    margin-left: 20px;
}

:local .textSide {
    grid-column: 3;
}

:local .subButtons {
    display: flex;
    justify-content: space-around;
}

:local .subButtons button {
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    width: 200px;
    border-radius: 8px;
}

:local .scheduleGrid {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 10%;
}

:local .registrationButton {
    padding: 20px;
    font-size: 2em;
    border: 3px solid #eb1a52;
    border-radius: 15px;
}

:local .buttonActive button {
    color: white;
    background-color: #eb1a52;
}

:local .price {
    font-size: 2em;
    font-weight: 700;
}

:local .margin {
    margin-top: 1.5em;
}

:local .textPicture {
    max-width: 700px;
    cursor: pointer;
}

:local .flyerGrid {
    margin-top: 2em;
    display: grid;
    gap: 10%;
    justify-content: center;
    margin-bottom: 3em;
}

@media only screen and (max-width: 1080px) {
    :local .vinterleirGrid {
        grid-template-columns: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    :local .textSide {
        grid-column: 1;
    }

    :local .subButtons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: space-around;
    }

    :local .picture {
        display: none;
        margin-top: 5%;
        position: relative;
        overflow: hidden;
    }

    :local .picture img {
        width: 60vw;
        height: 200px;
        object-fit: none;
        object-position: 45% 10%;
        box-shadow: 30px 30px 40px 40px white inset;
    }

    :local .textSide h1 {
        font-size: 7vw;
    }

    :local .textSide p {
        font-size: 5vw;
    }

    :local .textPicture {
        max-width: 400px;
        cursor: pointer;
    }

    :local .scheduleGrid {
        grid-template-columns: max-content;
        gap: 2%;
    }
}