
:local .registration {
    margin-top: 3vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
}

:local .registration p {
    font-size: 1.5em;
}

:local .registration h1 {
    text-align: center;
}

:local .registration button {
    padding: 7px;
    border-radius: 5px;
    font-size: 1.2em;
    min-width: 170px;
}

:local .navigationButtons {
    border-top: 1px solid rgba(25, 25, 25, 0.2);
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.2fr 0.2fr;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

:local .nextButton {
    justify-content: right;
    border-color: rgb(0, 102, 255);
    background-color: rgb(0, 102, 255);
    color: white;
    grid-column: 4;
    justify-content: right;
}

:local .nextButton:disabled {
    border-color: rgb(117, 167, 243);
    background-color: rgb(117, 167, 243);
    cursor: not-allowed;
}

:local .nextButton:hover {
    border-color: rgb(0, 90, 230);
    background-color: rgb(0, 90, 230);
}

:local .backButton {
    justify-content: right;
    border-color: slategray;
    grid-column: 1;
}

:local .backButton:hover {
    border-color: slategray;
    background-color: slategray;
}


:local .textSide {
    width: 50vw;
}

:local .disclaimer {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
}

:local .disclaimer input {
    margin-right: 1em;
    display: inline;
    transform: scale(1.5);
}

:local .checkboxLine {
    display: flex;
    align-self: center;
    cursor: pointer;
}

:local .checkboxLine input {
    margin-right: 1em;
    display: inline;
    transform: scale(1.5);
}

:local .instructor {
    padding: 15px;
    max-width: fit-content;
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 1.2em;
    border: 1px solid gray;
}

:local .checkboxLine span {
    font-size: 1.4em;
}

:local .radioButtons {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    justify-content: left;
    align-content: left;
    font-size: 1.4em;
    gap: 5px;
}

:local .clickable {
    cursor: pointer;
}

:local .registrationForm {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2vw;
    row-gap: 4vh;
    justify-content: center;
    align-items: center;
}

:local .largeSpan {
    grid-column: span 2;
}

:local .registrationForm input {
    border: 1px solid slategray;
    padding: 0.8em;
    font-size: 20px;
    border-radius: 10px;
}

:local .otherInput {
    border: 1px solid slategray;
    padding: 0.3em;
    font-size: 20px;
    border-radius: 10px;
}


:local .ageInput {
    justify-self: left;
    justify-content: right;
    max-width: 100px;
}

:local .autosuggestRow {
    z-index: 100;
    position: sticky;
    left: 0;
}

:local .addLedsagerButton {
    border-color: rgb(0, 102, 255);
    background-color: rgb(0, 102, 255);
    color: white;
    justify-self: center;
    align-self: center;
}


:local .addLedsagerButton:hover {
    border-color: rgb(0, 90, 230);
    background-color: rgb(0, 90, 230);

}

:local .ledsagerRow {
    width: 700px;
    border-bottom: 1px solid slategray;
    padding: 1em 0em 1em 0em;
    margin: 1em 0em 1em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:local .ledsagerRow span {
    font-size: 1.5em;
}

:local .ledsagereForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:local .freeText {
    width: 50vw;
    height: 10vw;
    font-size: 1.3em;
}

:local .instructBox {
    margin-bottom: 1em;
    font-size: 1.2em;
}

:local .instructBox input {
    margin-right: 1em;
}

:local .paymentButtons {
    display: grid;
    /* grid-template-columns: 0.2fr 0.3fr 0.2fr 0.3fr; */
    grid-template-columns: 0.2fr 0.5fr 0.3fr 0.5fr;
    gap: 20px;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    align-items: center;
}

:local .cashCard {
    justify-content: right;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    grid-column: 3;
    padding: 7px;
    border-radius: 5px;
}

:local .cashCard:hover {
    border-color: rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
}

:local .paymentButtons img {
    grid-column: 4;
    cursor: pointer;
}

:global #publicSelectBox {
    padding: 0.8em;
    background-color: white;
    border-color: rgb(39, 39, 39);
    border-radius: 5px;
    font-size: 1em;
}

:local .checkout {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(112, 128, 144, 0.500);
    padding: 15px;
    margin-left: 1vw;
    margin-right: 1vw;
}

:local .checkoutTotal {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.5em;
    padding: 15px;
}

:local .done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

:local .done h2 {
    font-size: 2em;
}

:local .done button {
    padding: 20px;
    font-size: 1.5em;
}

:local .doneNoPayButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

:local .doneNoPayButtons button {
    font-size: 2em;
    padding: 10px 30px 10px 30px;
}

:local .error {
    background: #eb1a52;
    color: white;
    padding: 1px 20px 10px 20px;
    border-radius: 20px;
}

:local .lessMarginTop {
    margin-top: 0.0em;
}


:local .lessMarginBottom {
    margin-bottom: 0.2em;
}

@media only screen and (max-width: 1080px) {
    :local .registrationTop {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    :local .registration h1 {
        font-size: 2em;
    }

    :local .registration p {
        font-size: 1.5em;
    }

    :local .navigationButtons {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    :local .nextButton {
        grid-column: auto;
    }

    :local .textSide {
        width: 90vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    :local .registrationForm {
        grid-template-columns: 1fr;
        column-gap: 0vw;
        row-gap: 0vh;
    }

    :local .ledsagerRow {
        width: 90vw;
    }

    :local .freeText {
        width: 100%;
        height: 20vw;
    }

    :local .instructBox {
        font-size: 0.8em;
    }


    :local .largeSpan {
        grid-column: 1;
    }
    
    :local .paymentButtons {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    :local .paymentButtons button {
        width: 210px;
        justify-self: center;
    }

    :local .cashCard {
        grid-column: auto;
    }

    :local .paymentButtons img {
        justify-self: center;
        grid-column: auto;
    }

    :local .checkboxLine {
        display: grid;
        grid-template-columns: min-content 1fr;
        justify-content: left;
        align-items: center;
        margin-top: 1em;
    }

    :local .checkboxLine p {
        font-size: 1.5em;
    }
    
    :local .checkboxLine input {
        transform: scale(1.5);
    }

    :global #publicSelectBox {
        padding: 0.8em;
        background-color: white;
        border-color: rgb(39, 39, 39);
        border-radius: 5px;
        font-size: 0.8em;
    }    

}