
:local .homeBG {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 112px;
    z-index: -1;
    max-height: 91.2%;
}

:local .home {
    width: 100%;
}

:local .homeGrid {
    display: grid;
    grid-template-columns: 40% 55%;
}

:local .infoBox {
    margin-top: 5%;
    grid-column: 2;
    font-size: 2em;
}

:local .infoBox h1 {
    border-bottom: 10px solid #eb1a52;
}

:local .infoBox p {
    font-size: 30px;
}

:local .start {
    margin-top: 15vh;
    animation: slide-left-home 1.5s forwards;
}

:local .infoBoxButtons {
    display: flex;
    justify-content: space-around;
}

:local .infoBoxButtons button {
    font-size: 30px;
    border-width: 3px;
    border-radius: 8px;
    padding: 20px 30px 20px 30px;
}

:local .treningstider h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

:local .backButton {
    padding: 15px;
    width: 300px;
    font-size: 1em;
    border-radius: 10px;
}

:local .infoBox h1 {
    font-size: 4vw;
}

:local .treningstider h2 {
    font-size: 2.1vw;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 1080px) {

    :local .home {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    :local .infoBox h1 {
        font-size: 8vw;
        border-bottom: 10px solid #eb1a52;
    }

    :local .homeGrid {
        display: grid;
        grid-template-columns: 100%;
    }

    :local .homeBG {
        display: none;
    }

    :local .infoBox {
        grid-column: 1;
    }

    :local .infoBox p {
        font-size: 25px;
    }

    :local .infoBoxButtons {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    :local .infoBoxButtons button {
        margin: 10px;
        width: 250px;
        padding: 10px;
    }

    :local .treningstider h2 {
        font-size: 6vw;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    
    :local .treningstider p {
        font-size: 5vw;
        margin-bottom: 0px;
        padding: 0px;
    }

    :local .start {
        margin-top: 5vh;
    }


    :local .backButton {
        margin-top: 20px;
        padding: 10px;
        width: 80vw;
        font-size: 0.8em;
        border-radius: 10px;
    }
}

@keyframes slide-left-home {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }