:local .navLink {
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-left: 15px solid transparent;
    animation: "fadeIn" 0.2s ease-in;
}

:local .navLink:hover {
    color: slategrey;
}

:local .selectedNav {
    padding-bottom: 10px;
    border-bottom: 15px solid #eb1a52;
    border-left: 15px solid transparent;
  }

:local .hjemLink {
    display: flex;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    align-items: center;
}

:local .smallGap {
    margin-bottom: 0em;
}

:local .bigGap {
    margin-bottom: 2em;
}

:local .extraButtons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

:local .otherButton {
    border-color: rgb(0, 102, 255);
    background-color: rgb(0, 102, 255);
    color: white;
}

:local .otherButton:hover {
    border-color: rgb(0, 90, 230);
    background-color: rgb(0, 90, 230);
}

:local .hjemLink img {
    max-height: 50px;
    padding-right: 20px;
}

:local .navigation {
    display: flex;
    border-bottom: 2px solid rgba(100, 100, 100, 0.4);
    justify-content: space-between;
    padding: 30px;
    height: 50px;
    z-index: 1000;
    position:relative;
    background-color: white;
}

:local .rightSideNav {
    margin-top: 10px;

}

:local .mobileButton {
    display: none;         
}

:local .mobileMenu {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

:local .mobileMenu a {
    font-size: 6vw;
}

:local .expiredRegistration {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:local .backButton {
    font-size: 2em;
    border-radius: 10px;
    padding: 0.3em 1em 0.3em 1em;
}

@media only screen and (max-width: 1500px) {

    :local .navigation {
        position: sticky;
        z-index: 200;
        background-color: white;
    }

    :local .logoHome span {
        display: none;
    }

    :local .mobileButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :local .mobileButton button {
        padding: 8px 15px 5px 15px;
        border: 0px solid #eb1a52;
        border-radius: 15px;
        cursor: pointer;
    }

    :local .mobileButton button:hover {
        background: transparent;
    }

    :local .showMobileMenu a {
        font-size: 6vw;
        width: 60%;
    }

    :local .rightSideNav {
        display: none !important;
    }
    
}



@media only screen and (min-width: 2480px) { 
    .mainContent {
        display: flex;
        margin-left: 25%;
        margin-right: 25%;

        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
  }