:local .arrangementerGrid {
    display: grid;
    grid-template-columns: 40%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 2em;
}

:local .picture {
    display: flex;
    justify-content: center;
}

:local .picture img {
    object-fit: none;
    object-position: 0px -50px;
    max-height: 90vh;
    width: 600px;
    overflow:hidden;
}

:local .textSide {
    grid-column: 1;
}

:local .textSide img {
    max-width: 30vw;
    border-radius: 8px;
}

:local .subButtons {
    display: flex;
    justify-content: space-around;
}

:local .subButtons button {
    font-size: 20px;
    padding: 15px 25px 15px 25px;
    width: 200px;
    border-radius: 8px;
}

:local .buttonActive button {
    color: white;
    background-color: #eb1a52;
}

:local .margin {
    margin-top: 1.5em;
}

:local .registrationButton {
    padding: 20px;
    font-size: 2em;
    border: 3px solid #eb1a52;
    border-radius: 15px;
}

:local .textSide hr {
    margin-top: 50px;
    margin-bottom: 50px;
}


@media only screen and (max-width: 1080px) {
    :local .arrangementerGrid {
        grid-template-columns: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    :local .textSide {
        grid-column: 1;
    }

    :local .subButtons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: space-around;
    }

    :local .picture {
        display: none;
        margin-top: 5%;
        position: relative;
        overflow: hidden;
    }


    :local .textSide img {
        max-width: 70vw;
        border-radius: 8px;
    }

    :local .picture img {
        width: 60vw;
        height: 200px;
        object-fit: none;
        object-position: 45% 10%;
        box-shadow: 30px 30px 40px 40px white inset;
    }

    :local .textSide h1 {
        font-size: 7vw;
    }

    :local .textSide p {
        font-size: 5vw;
    }


    :local .registrationButton {
        padding: 20px;
        font-size: 6vw;
        border: 3px solid #eb1a52;
        border-radius: 15px;
    }

}